# Xcode build files
DerivedData/
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcappdata

# macOS system files
.DS_Store

# Swift Package Manager
.build/
Package.resolved

# Logs
*.log
